<div class="ui-g" style="margin-left: 7px;">
  <div class="ui-g-12">
    <a routerLink="../users/" routerLinkActive="active">
      <div class="ui-g-3 ui-md-3">

        <p-card title="Web Development" [style]="{width: '360px'}" styleClass="ui-card-shadow shade border">
          <div> Front End Developers,Software programmars
          </div>
        </p-card>

      </div>
    </a>
    <a routerLink="../users" routerLinkActive="active">
      <div class="ui-g-3 ui-md-3">
        <p-card title="Mobile Development" [style]="{width: '360px'}" styleClass="ui-card-shadow shade border">
          <div>Android,iOs Developers</div>
        </p-card>
      </div>
    </a>
    <a routerLink="../users" routerLinkActive="active">
      <div class="ui-g-3 ui-md-3">
        <p-card title="Writers" [style]="{width: '360px'}" styleClass="ui-card-shadow shade border">
          <div>Blog,content and copy writers</div>
        </p-card>
      </div>
    </a>
    <a routerLink="../users" routerLinkActive="active">
      <div class="ui-g-3 ui-md-3">
        <p-card title="Virtual Assistants" [style]="{width: '360px'}" styleClass="ui-card-shadow shade border">
          <div>Web Researchers</div>
        </p-card>
      </div>
    </a>
  </div>
  <div class="ui-g-12">
    <a routerLink="../users" routerLinkActive="active">
      <div class="ui-g-4 ui-md-3">
        <p-card title="Accounts" [style]="{width: '360px'}" styleClass="ui-card-shadow shade border">
          <div>Tax and Financial makers</div>
        </p-card>
      </div>
    </a>
    <a routerLink="../users" routerLinkActive="active">
      <div class="ui-g-4 ui-md-3">
        <p-card title="Guitarists" [style]="{width: '360px'}" styleClass="ui-card-shadow shade border">
          <div>Bands of Drummers</div>
        </p-card>
      </div>
    </a>
  </div>
</div>