<div class="ui-g" style="margin-left: 7px">
  <!-- <p style="width:100%;color:orange">{{attributes.display}} </p> -->
  <hr class="shadeBorder" width="100%" size="4">
  <div class="ui-g-12 ui-md-12">
    <div class="ui-g-3 ui-md-3">
      <img src="../../assets/3_large.jpg"  />
    </div>
    <div class="ui-g-9 ui-md-9" >
      <div class="ui-g">
        <div class="ui-g-12">
          <div class="ui-g-6">
            <table style="width:100%">
              <th>
                <span style="color:  Orange">{{users[0].name}}</span>
                <br>
                <p style="font-size: 1.3em;
                                                                                     font-weight: 300;">
                 {{users[0].category}} </p>
               Specialization in Web Development
                <br> Popularity
                <span style="color:  Orange">{{users[0].popularity}}</span>
                <br>Methodology
                <span style="color: Orange">Maximum Participation</span>
                <br>
                <hr width="100%" size="4"> Connections
              </th>
              <tbody>
                <tr>
                  <td>
                    <!-- <span align="left" *ngFor="let entry of features | getArray">
                      {{ entry.key }} : {{ entry.value }} ,
                    </span> -->

                  </td>

                </tr>
              </tbody>
            </table>
          </div>
          <div class="ui-g-6">
            <table style="width:100%">
              <tr>
                <br>
                <br>
                <td>
                 Participated In
                  <!-- <img class=".theme-dark .border" style="margin-right: 2px" id="datasheet" (click)="tabChangefromButton('datasheet')" class="dataSheetIconUrl"
                    pTooltip="DataSheet" tooltipPosition="bottom">
                  <img class=".theme-dark .border" style="margin-right: 2px" id="schematic" (click)="tabChangefromButton('schematic')" class="schematicIconUrl"
                    pTooltip="Schematic" tooltipPosition="bottom">
                  <img class=".theme-dark .border" style="margin-right: 2px" id="footprint" (click)="tabChangefromButton('footprint')" class="footPrintIconUrl"
                    pTooltip="FootPrint" tooltipPosition="bottom">
                  <img class=".theme-dark .border" style="margin-right: 2px" id="3dmodel" (click)="tabChangefromButton('3dmodel')" class="threeDmodelIconUrl"
                    pTooltip="3D model" tooltipPosition="bottom"> -->
                </td>
              </tr>
              <tr>
                <br>
                <br>
                <td align="left">
                  <!-- <button pButton type="button" label="Download talent" class="ui-button-secondary"></button> -->
                </td>
              </tr>

            </table>
          </div>
        </div>
      </div>
    </div>


  </div>
  <div class="ui-g" style="width: 100%">
    <div class="ui-g-4  ui-md-4">
List of Talent
    </div>

    <div class="ui-g-8  ui-md-8">
      List of Projects Working on or completed
    </div>
  </div>
  <div class="ui-g" style="width: 100%">

  </div>
</div>