
  <div style="height:100%">
        <div  style="height:100%">
          <div style="top:0%;height:40px" >
            <div style="flex:100%;">             
            <header>
            </header>
            </div>
          </div>
          <div style="height:100%" >         
            <div id="centerAreaBrowser" class="margin-top:10px;" >               
                    <centerarea></centerarea>              
            </div>
          </div>
          <footer></footer>
        </div>
      </div>


